/* @font-face {
  font-family: "Bunny";
  src: url(../fonts/Bunny.otf);
} */

@font-face {
  font-family: 'Banny';
  src: url(../fonts/Banny-BoldRound.woff);
}


head,body{
margin: 0;
}
.header{
background: url(../images/header-bg.png) top center no-repeat;
height: 800px;
background-size: cover;
position: relative;
}


  
  main {
    display: flex;
    justify-content: flex-end;
  }
  
  .menu-btn {
    width: 30px;
    height: 30px;
    position: relative;
    z-index:2;
    overflow: hidden;
    cursor: pointer;
    right: 30px;
    top: 40px;
  }
  
  .menu-btn-span {
    width: 30px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: maroon;
    transition: all 0.5s;
  }
  
  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 5px);
  }
  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 5px);
  }
  
  .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    color: #fff;
    opacity: 0.8;
      background: #292208;
    transform: translateX(-100%);
    transition: transform 0.5s; 
    text-decoration: none;
    text-align: center;
  }
  
  .menu.active{
    transform: translateX(0);
  }
  
  .menu-li{
    list-style-type: none;
    margin: 35px 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
   font-size: 1.3em;
  }
  
  .menu-btn.active span:first-of-type {
    transform: translateX(100%);
  }
  
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }


.nav_first_part, .nav_second_part{
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  height: 50px;
}
.nav_first_part, .nav_second_part{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav_first_part a , .nav_second_part a{
  text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    color: white;
    width: 133px;
    text-align: center;
    padding: 40px 0;
    font-family: Open Sans;
}
/* .nav-text{
text-decoration: none;
color: #fff;
font-family: Open Sans;
font-weight: 700;
font-size: 12px;
line-height: 18px;
padding-top: 20px;
margin: 0 40px;

} */
.main-header{
  max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

#home, #about, #team, #booking, #menu, #galerie, #events , #contact, #specialities ,#about1, #team1, #booking1, #menu2, #galerie1, #events1 , #contact1{
cursor: pointer;
}

.nav{
display: flex;
justify-content: space-evenly; 
padding: 20px 0px 0px;

}

.nav-line{
display: flex;
justify-content: space-around;
margin: -100px -50px;
max-width: 100%;
}

.line{
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  width: 454px;
  transform: rotate(90deg);
  margin: -35px 163px 0px;
}

.nav-hr{
width: 530px;
border: 1px solid rgba(251, 255, 255, 0.1);
}

.main-container{
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 150px;
}

.promo_align{
  max-width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.time-work{
 /* font-family: 'Open Sans', sans-serif; 
font-size: 12px;
line-height: 12px;
color: #fff;
transform: rotate(270deg);
justify-content: end; 
padding: 15px 0px 110px 40px;  */
-webkit-writing-mode: vertical-rl;
-ms-writing-mode: tb-rl;
writing-mode: vertical-rl;
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
font-size: 12px;
}

.work__mode {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  font-size: 12px;
}

.header-title{
font-family: 'Open Sans', sans-serif;
font-size: 12px;
font-weight: 700;
line-height: 14px;
color: #fff;
letter-spacing: 4px;
text-align: center;
}

.header-suptitle{
  width: 100%;
  text-align: center;
  font-size: 96px;
  font-family: Banny;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}


.name-restoraun{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  padding-left: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.social-media{
display: flex;
flex-direction: column;
justify-content: start;
align-items: end;
}

.name-line{
  width: 60px;
  height: 5px;
  background: #E8C300;
  border-radius: 50px;
  border: 0;
}

.btn{
padding-top: 60px;
display: flex;
justify-content: space-evenly;
padding-bottom: 60px;
}

.header-btn{
background-color: #E8C300;
color: #FFFFFF;
border: 0;
width: 200px;
height: 60px;
cursor: pointer;
border-radius: 5px;
font-family: Open Sans;
line-height: 20px;
font-size: 12px;
font-weight: 700;
text-align: center;
}

.header-button{
cursor: pointer;
color: #fff;
width: 200px;
height: 60px;
background: unset;
border: 1px solid rgba(255, 255, 255, 0.5);
border-radius: 5px;
font-family: 'Open Sans';
line-height: 20px;
font-size: 12px;


}

.header-last-btn{
width: 60px;
height: 60px;
background: url(../images/down-btn.svg);
border: 0;
margin: 0 auto;
}

.aboutus{
display: flex;
height: 675px;
}

.aboutus-text{
padding: 217px 0 0 81px;
width: 600px;
text-align: center;
}

.title-aboutus{
font-family: "Banny";
font-size: 36px;
line-height: 48px;
color: #000000;
}

.aboutus-line{
content: '';
width: 59px;
height: 5px;
background: #E8C300;
border-radius: 50px;
border: 0;
}
.suptitle-aboutus{
font-family: 'Open Sans', sans-serif;
font-size: 18px;
line-height: 28px;
color: #000000;
}

.suptitle-aboutus1{
font-family: 'Open Sans', sans-serif;
font-size: 14px;
line-height: 24px;
color: #000000;
}

.images-aboutus{
padding-top: 100px;
padding-left: 80px;
display: flex;
}

.image-about{
width: 475px;
height: 475px;
}

#square {
margin: 95px -126px;
width: 210px;
height: 210px;
border: 20px solid #E8C300
}

.ourteam{
background: url(../images/special-bg.png);
height: 675px;
}

.ourteam-title{
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
line-height: 14px;
color: #fff;
padding-top: 50px;
letter-spacing: 6px;
}

.ourteam-line{
  content: '';
  width: 59px;
  height: 5px;
  background: #E8C300;
  border: 0;
  border-radius: 50px;
  
}

.images-ourteam{
padding-top: 50px;
}

.ourteam-container{
display: flex;
justify-content: space-evenly;
}

.ourteam-text{
text-align: center;
width: 600px;
padding-top: 117px;
}

.title-ourteam{
font-family: "Banny";
font-size: 36px;
line-height: 48px;
color: #fff; 
}

.suptitle-ourteam{
font-family: 'Open Sans', sans-serif;
font-size: 14px;
line-height: 18px;
color:#FFFFFFE5; 
}

.suptitle-ourteam1{
font-family: 'Open Sans', sans-serif;
font-size: 14px;
line-height: 18px;
color: #a5a5a5;

}

#square1{
z-index: 100;
margin: -375px -80px;
width: 210px;
height: 210px;
border: 20px solid #E8C300;
position: absolute;
z-index: 11;
}

.order-table{
display: flex;
justify-content: space-evenly;
height: 675px;
}

.title-order{
  text-align: center;
  width: 100%;
  font-family: 'Banny';
  text-transform: uppercase;
  line-height: 125%;
  font-size: 36px;
  margin: 36px 0 0px 0px;
}

.order-line{
  content: '';
  width: 59px;
  height: 5px;
  background: #E8C300;
  border-radius: 50px;
  border: 0;
}

.order-img{
width: 475px;
height: 475px;
}

.order-form{
width: 600px;
padding-top: 162px;
}

.order-list{
display: inline-block;
padding-top: 10px;
}

.order{
width: 277px;
height: 60px;
background: #E5E5E5;
color: rgba(51, 51, 51, 0.5);
margin: 0px 10px 10px 0px;
border: 0;
border-radius: 5px;
text-indent: 20px;
font-family: 'Open Sans';
}

.order-picture{
padding-top: 100px;
}

#order-people{
width: 283px;
color: rgba(51, 51, 51, 0.5);
height: 66px;
font-family: 'Open Sans';
appearance: none;
background: url(../images/strelka.svg)no-repeat right #ddd;
-webkit-appearance: none;
background-position-x: 250px;
}


#order-time{
  width: 283px;
  color: rgba(51, 51, 51, 0.5);
  height: 66px;
  font-family: 'Open Sans';
  appearance: none;
  background: url(../images/strelka.svg)no-repeat right #ddd;
  -webkit-appearance: none;
  background-position-x: 250px;
}

.order-btn{
width: 579px;
height: 60px;
background: #E8C300;
color: #FFFFFF;
cursor: pointer;
border: 0;
border-radius: 5px;
}

#square2{

z-index: 100;
width: 150px;
height: 150px;
border: 20px solid #E8C300;
position: absolute;
z-index: 11; 
margin: -360px 290px;
}

.foter-oreder{
font-family: 'Open Sans', sans-serif;
font-weight: 700;
font-size: 12px;
line-height: 12px;
text-align: center;
color: #333333 , 50%;
}


.container-specialties{
background: url(../images/special-bg-1.png);
height: 675px;
}

.specialties-container{
display: flex;
justify-content: space-evenly;
}

.ourteam-text{
  text-align: center;
  width: 600px;
  padding-top: 117px;
}

.specialties-title{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
font-size: 12px;
font-weight: 700;
line-height: 14px;
color: #fff;
letter-spacing: 4px;
padding-top: 50px;
}

.suptitle-specialties{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color:#FFFFFFE5; 
}


.title-specialties{
  font-family: "Banny";
font-size: 36px;
line-height: 48px;
color: #fff;
}

.suptitle-specialties1{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #a5a5a5;
}

.images-specialties{
  padding-top: 50px;
}

.conatiner-menu{

  height: 900px;
}

.delicious-menu{

  padding: 100px 80px;
  height: 720px;
}

.menu-text{
display: flex;
flex-direction: column;
align-items: center;
}

.type-menu{
  display: flex;
  text-align: center;
  justify-content: space-evenly;

}

.type-text{
font-family: 'Open Sans', sans-serif;
font-weight: 700;
font-size: 12px;
line-height: 18px;
color: #333333;
}

.title-menu{
text-align: center;
font-family: "Banny";
font-size: 36px;
line-height: 48px;
color: #000000;
}





.suptitle-menu{
font-family: 'Open Sans', sans-serif;
font-size: 18px;
line-height: 28px;
color: #000000;
width: 565px;
text-align: center;
}

.line-menu{
  content: '';
  width: 59px;
  height: 5px;
  background: #E8C300;
  border-radius: 50px;
  border: 0;
}


.type-line{
margin: 0;
}

.order-dish{
padding-top: 30px;
text-align: center;
}

.dish{
width: 33%;
line-height: 18px;
color: #333333;
display: inline-block;
font-family: Banny;
font-size: 18px;
}

.ing-dish{
font-family: Open Sans;
font-size: 12px;
line-height: 18px;
color: rgba(51, 51, 51, 0.5);
}

.private-events{
max-width: 100%;
height: 675px;
background: url(../images/special-bg2.png);
}

.container-events{
padding-top: 50px;
display: flex;
justify-content: space-evenly;
}

.title-events{
text-align: center;
font-size: 12px;
line-height: 14px;
letter-spacing: 5px;
color: #fff;
padding-top: 50px;
}

.images-events{
width: 475px;
height: 475px;
}

.weeds-events{
display: flex;
}

.sup-text{
width: 80px;
height: 393px;
background: #000;
margin: 41px -45px
}

.weed-text{
font-size: 24px;
line-height: 12px;
font-family: "Banny";
color: #fff;
transform: rotate(90deg);
padding-top: 35px;
letter-spacing: 5px;
}

.images-coprorative{
width: 475px;
height: 475px;
}

.coprorative-events{
display: flex;
flex-direction: row-reverse;
}

.sup-corporative{
width: 80px;
height: 393px;
background: #000;
margin:41px -45px;
display: flex;
align-items: flex-end;
}

.corporative-text{
display: flex;

font-size: 24px;
line-height: 12px;
font-family: "Banny";
color: #fff;
transform: rotate(270deg);
letter-spacing: 5px;
margin: 165px -120px;
}

#square3{ 
z-index: 100;
width: 210px;
height: 210px;
border: 20px solid #E8C300;
position: absolute;
z-index: 11; 
margin: 100px -75px;
}

#square4{ 
z-index: 100;
width: 210px;
height: 210px;
border: 20px solid #E8C300;
position: absolute;
z-index: 11; 
margin: 100px -75px;
}

.footer-events{
padding-top: 15px;
font-family: 'Open Sans', sans-serif;
font-size: 12px;
line-height: 12px;
color: #FFFFFF80;
text-align: center;
}

.contact{
  height: 650px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

}

.contact-container{
text-align: center;
padding: 100px 0px;
width: 100%;
}

.line-contact{
  content: '';
  width: 59px;
  height: 5px;
  background: #E8C300;
  border-radius: 50px;
  border: 0;
}

.title-contact{
font-family: "Banny";
font-size: 36px;
line-height: 48px;
color: #000000;
}

.suptitle-contact{
font-family: 'Open Sans', sans-serif;
font-size: 18px;
line-height: 28px;
color: #000000;
width: 565px;
margin: 0 auto;
padding-bottom: 30px;
}

.galery-photo{
max-width: 100%;
display: flex;
height: 360px;
background-size: cover;
}

.galery-photos, .galery-photos1 , .galery-photos2 , .galery-photos3 , .galery-photos4{
width: 25%;
}

.galery-photos1:hover , .galery-photos2:hover , .galery-photos3:hover , .galery-photos4:hover{
position: relative;
opacity: 1;
transform: scale(1.1);
transition: 0.7s;
}

.form-contact{
display: inline-block;
width: 100%;
}

.contact-name{
width: 420px;
height: 60px;
background: #E5E5E5;
color:#333333, 50%;
border: 0;
border-radius: 5px;
text-indent: 20px;

}

.contact-name1{
width: 1280px;
height: 120px;
background: #E5E5E5;
color:#333333, 50%;
border: 0;
margin: 10px 0px 10px 0px;
resize: none;
border-radius: 5px;
padding-bottom: 20px;

}

.text-contact{
font-family: 'Open Sans', sans-serif;
font-weight: 700;
font-size: 12px;
line-height: 12px;
color:#333333, 50%;
width: 640px;
}

.footer-contact{
  display: flex;
  justify-content: center;
  width: 84%;
  margin: 0 auto;

}

.contact-btn{
width: 640px;
height: 60px;
background: #E8C300;
color: #FFFFFF;
cursor: pointer;
border: 0;
border-radius: 5px;
}

.map{
width: 100%;
height: 475px;
overflow:hidden;
}

.footer{
height: 100px;
background: #000;
}

.footer-text{
padding-top: 50px;
text-align: center;
font-family: 'Open Sans', sans-serif;
font-weight: 700;
font-size: 12px;
line-height: 12px;
color:#fff
}

@media screen and (max-width: 1650px){
.contact-name{
width: 350px;
}
.contact-name1{
width: 1070px;
}
}

@media screen and (max-width: 1434px){
.time-work{
padding-top: 30px;
}
.image-about{
width: 400px;
height: 400px;
}
#square , #square1{
width: 180px;
height: 180px;
}

#square1{
margin: -305px -80px;
}
.nav_second_part, .nav_first_part{
  width: 40%;
}
}

@media screen and (max-width: 1400px){
.header-suptitle{
 font-size: 4em;
}
}

@media screen and (max-width: 1280px){
  .aboutus-text{
    width: 500px;
  }
  .image-about{
    width: 340px;
    height: 340px;
    padding-top: 50px;
  }
  #square{
    width: 120px;
    height: 120px;
  }

  #square1{
    width: 100px;
    height: 100px;
    margin: -220px -50px;
  }
}

@media screen and (max-width: 1240px){
  .header-suptitle{
    font-size: 3em;
  }
  .time-work{
    padding-left: 0;
  }
   }

   @media screen and (max-width: 1200px){
    .container-events{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
    .images-events{
      width: 300px;
      height: 300px;
    }
    .sup-text, .sup-corporative{
      height: 251px;
      margin: 24px -45px;
    }
    #square3, #square4{
      width: 120px;
      height: 120px;
      margin: 75px -75px;
    }
    .images-coprorative{
      width: 300px;
      height: 300px;
    }
    .title-events{
      padding-top: 20px;
    }
    .footer-events{
      padding: 0 0 10px 0;
    }
    .promo_align{
      margin: 0 15px;
    }
  }

   @media screen and (max-width: 1130px){
    .nav_second_part, .nav_first_part{
      width: 35%;
    }
    .main-text{
      padding: 250px 0 0 ;
    }

    .time-work{
      padding-top: 120px;
    }
    .aboutus{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .image-about{
      padding: 0;
      width: 300px;
      height: 300px;
    }
    .aboutus-text{
      padding: 50px 20px 0px;
     }
     .images-aboutus{
      padding: 0;
    }
    .ourteam-container{
      display: flex;
      flex-direction: column-reverse;
      align-items:center;
    }
    .ourteam-text{
      width: 500px;
      padding: 0;
    }
    .images-ourteam{
      padding: 0;
    }
    
    .order-table{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .order-form{
      padding-top: 0px;
    }
    .order-picture{  
      padding: 0 ;
    }
    .order-img{
      width: 300px;
      height: 300px;
    }
    #square2{
      width: 120px;
      height: 120px;
      margin: -220px 180px;
    }
    .order-list{
      display: inline-block;
      padding-left: 150px;
      padding-top: 20px;
    }
    
    .order{
      width: 30%;
    }
   
    #order-people{
      width: 31%;
      background-position-x: 120px;
    }
    
    #order-time{
      width: 31%;
      -webkit-appearance: none;
background-position-x: 120px;
    }
    
    .order-btn{
      width: 66%;
    }
    
    .container-order{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .specialties-container{
      display: flex;
      align-items: center;
      flex-direction: column-reverse;
    }
    
    .images-specialties{
      padding: 0;
    }
    .delicious-menu{
      padding: 0;
    }
  }

   @media screen and (max-width: 1080px){
    .galery-photo{
      height: 280px;
    }
    .form-contact{
      width: 600px;
    }
    .contact-name{
      width: 26%;
    }
    .contact-name1{
      width: 483px;
    }
    .contact-container{
      padding: 100px 0;
    }
    .suptitle-contact{
      padding-bottom: 30px;
    }
    .footer-contact{
      padding-top: 30px;
    }
    .corporative-text{
      font-size: 14px;
     margin: 116px -50px;
    }
  }

  @media screen and (max-width: 1015px){
    .suptitle-aboutus , .suptitle-aboutus1{
      font-size: 0.8em;
    }
    
    .suptitle-contact{
      width: 100%;
      font-size: 0.8em;
    }

    #square , #square1{
      width: 100px;
      height: 100px;
    }
    
    #square{
      margin: 95px -95px;
    }

    .aboutus-text{
      padding: 0px 0px 0px;
    }
    .ourteam-title , .specialties-title{
    padding-top: 20px;
    }

  }
  @media screen and (max-width: 930px){
    .line{
      display: none;
    }
  }

  @media screen and (max-width: 814px){
  .dish{
    width: 27%;
  }
  .conatiner-menu{
    padding-bottom: 160px;
  }
  }

   @media screen and (max-width: 775px){
    .nav-text{
      font-size: 0.6em;
    }

    #specialities{
      width: 120px;
    }

    .nav{
      padding-right: 20px;
    }
    .nav-line{
      display: none;
    }
    .galery-photo{
      height: 220px;
    }
    .form-contact{
      width: 350px;
    }

    .contact-name1{
      width: 290px;
      height: 80px;
    }
    .contact-container{
      padding: 100px 0;
    }
    .suptitle-contact{
      padding-bottom: 30px;
    }
    .footer-contact{
      padding-top: 15px;
display: flex;
flex-direction: column;
}
.text-contact{
    margin: 0 auto;
    padding-bottom: 10px;	   
  width: 300px;
 }
.contact-btn {
    width: 300px;
margin: 0 auto;
}   
  }
  
  @media screen and (min-width: 649px){
    .dropdown{
      display: none;
    }
    .menu-btn{
      display: none;
    }
  }
  
  @media screen and (max-width: 650px){
    .nav_second_part,.nav_first_part{
      display: none;
    }
    .title-specialties{
      margin: 30px 0 0px;
    }
    .nav{
      padding: 25px 10px;
    }

    .nav-text{
      font-size: 0.6em;
      
    }

   
    #specialities{
      margin: 0 auto;
    }
    
    .suptitle-menu{
      width: 500px;
    }
    .dish{
      width: 20%;
    margin: 5px 5px;
    }
    .galery-photo{
      height: 160px;
    }
    .aboutus-text, .ourteam-text{
      width: 350px;
    }
    .images-aboutus {
      padding-right: 80px;
    }
    .images-ourteam , .images-specialties{
      padding-left: 50px;
    }
    .order-picture{
      padding-right: 50px;
    }
    .suptitle-menu{
      width: 350px;
    }
    .conatiner-menu{
      padding-bottom: 500px;
    }
    .images-events{
      width: 200px;
      height: 200px;
    }
    #square3{
      width: 80px;
      height: 80px;
      margin: 40px -45px;
    }
    .sup-text{
      height: 167px;
      margin: 17px -45px;
  }
  .images-coprorative{
    width: 200px;
    height: 200px;
  }
  #square4{
    width: 80px;
    height: 80px;
    margin: 40px -45px;
  }
  .sup-corporative{
  height: 170px;
  margin: 16px -45px;
  }
  .corporative-text{
    font-size: 0.8em;
    letter-spacing: 3px;
    margin: 90px -50px;
  }
  .coprorative-events{
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .nav-text, .time , .social-media{
    display: none;
  }
  .name-restoraun{
    padding:20px 0 0;
    width: 100%;
  }
  .main-container{
    padding: 0;
  }
  .order-form{
    width: 100%;
  }
  .order-list{
    padding-left: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .order, #order-people , #order-time{
    width: 100%;
    height: 33px;
    -webkit-appearance: none;
    background-position-x: 310px;
}
.order-btn {
  width: 100%;
  height: 40px;
}
  .btn{
    width: 70%;
    margin: 0 auto;
  }
  .header-btn{
    margin: 0 20px;
  }
}

@media screen and (max-width: 375px){
    .order-dish{
      padding-bottom: 530px;
    }
 #square3 , #square4{
   display:none;
 }

@media screen and (max-width: 350px){
   .suptitle-menu , .suptitle-aboutus, .suptitle-aboutus1, .title-aboutus,.aboutus-text, .ourteam-text,.order-form, .order-table{
     width: 300px;
     margin: 0 auto;
   }
   .image-about, .order-img{
     width: 250px;
     height: 250px;
   }
   #square{
    margin: 60px -115px;
   }
   .order-list{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .order{
     width: 100%;
     height: 35px;
   }
   #order-people, #order-time{
     width: 103%;
     height: 35px;
   }
   .order-btn{
    height: 35px;
    width: 105%;
   }
   #square2{
     width: 100px;
     height: 100px;
     margin: -195px 155px;
   }
   .conatiner-menu{
     width: 300px;
   }
   .dish{
     width: 20%;
   }
   .contact-container{
     width: 300px;
     padding: 35px 0;
   }
   .form-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
   }
   .contact-name{
     width: 80%;
     height: 35px;
     margin: 5px 0;
   }
   .contact-name1{
  width: 80%;
  height: 70px;
   }
   .footer-contact{
     display: flex;
     flex-direction: column-reverse;
   }
   .contact-btn{
    width: 250px;
    margin: 0 auto;
   }
   .text-contact{
     width: 300px;
   } 
}
